/* carts.component.css */
.cart-container {
    padding: 70px;
  }
  
  .empty-cart {
    text-align: center;
    font-size: 18px;
    color: #888;
  }
  
  .cart-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cart-item {
  
    margin: 10px;
    padding: 10px;
    
  }
  
  .item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-price {
    color: green;
    font-weight: bold;
  }
  h1{
    text-align: center;
  }
  #removeItemBtn{
    background-color: rgba(218, 18, 18, 0.685);
    color: white;
  }
  /* Add these styles to your carts.component.css file */

.total-section {
   padding: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#discountInput {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#buyButton {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
}
