/* product.component.css */

.product-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}
  .product-container img{
    margin-top: 1em;
    width: 100%;
    height: auto;
  }
  .product-container img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition:  all 0.5s ease-in-out;
  }
  .example-card {
    max-width: 420px;
    max-height: 500px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    margin: 2em  1em 8em 2em;
  }
  
  .example-header-image {
    background-image: url('../../assets/applelogo.png');
    background-size: cover;
  }
 
  mat-form-field {
    margin-right: 12px;
  }